a{
    font-family: 'Times New Roman', Times, serif;
}


h1,h2,h3,h4,h5{
    font-family: 'Times New Roman', Times, serif, Serif;
    font-size: 14px;
        
}
.navbar{
    box-shadow:  0 8px 6px -6px #999;
    margin: auto;

    }

    .navbar-brand{
        font-size: 10px;
        font-style: normal;
    }
.sideText{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 12px 24px;
    opacity: 0.7;
}
img{
    opacity: 0.8;
}


