/* body{
    font-family: 'Times New Roman', Georgia, serif;
}
h2{
    font-family: 'Times New Roman', Times, serif;
} */


.w3-large{
    font-size: 18px!important;
}
/* .w3-padding-64{
    padding-top: 40px!important;
    padding-bottom: 64px!important;
} */
/* .w3-padding-large{
    padding:120px 204px!important;
} */
hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    width: 100%;
    overflow: visible;
    justify-content: center;
    margin-right: 100px;
}